@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Work+Sans:wght@300;500;600&display=swap');

body {
    font-family: $work-sans;
    font-size: 16px;
}

main {
    position: relative;
    margin-top: -150px;
}
main.intern {
    margin-top: 1.5rem;
}

.btn {
    border-radius: 1.25rem;
    padding: .5rem 2rem;
    font-weight: 400;
}

// btn-outline($text-color, $border-color, $background-color, $hover-color)
.btn-outline-card {
    @include btn-outline(#3366CC, #3366CC, #fff, #004884);
}

.banner-dnp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    img {
        max-width: 320px;
    }
}

.border-right-onl {
    border-right: 2px solid #dee2e6 !important;
  }

.border-green-onl {
    border-color: $green-lines !important;
}

.bg-gray-onl {
    background-color: $gray-background !important;
  }


.slick-prev:before {
    content: url(../img/arrow-left.svg);

}

.slick-next:before {
    content: url(../img/arrow-right.svg);
    font-size: 2rem;
    opacity: 1;
}
.title-main-section {
    display: inline-block;
    margin-bottom: 2rem;
    hr {
        border: 1px solid white;
        margin-top: .5rem;
        margin-bottom: .5rem;
        margin-left: 0;
    }
}
.title-main {
    color: white;
    font-family: $montserrat;
    font-weight: 400;
}
.bg-card-capsula {
    background-color: #EDF2F9;
}