@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Work+Sans:wght@300;500;600&display=swap');

body {
    font-family: $work-sans;
    font-size: 16px;
}

main {
    position: relative;
    margin-top: -80px;
}

.btn {
    border-radius: 1.25rem;
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

// btn-outline($text-color, $border-color, $background-color, $hover-color)
.btn-outline-card {
    @include btn-outline($green-lines, $green-lines, #fff,$green-lines);
}

.banner-dnp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    img {
        max-width: 320px;
    }
}

.border-right-onl {
    border-right: 2px solid #dee2e6 !important;
  }

.border-green-onl {
    border-color: $green-lines !important;
}

.bg-gray-onl {
    background-color: $gray-background !important;
  }