@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Work+Sans:wght@300;500;600&display=swap');

body {
    font-family: $work-sans;
    font-size: 16px;
}

main {
    background-color: transparent;
    position: relative;
    top: -6rem;
}