/* Colores */
$white: #fff;
$blue-gov-co: #3366CC;
$blue-titles: #475372;
$green-lines: #727B36;
$gray-background: #F9F9F9;
$gray-lines: #d1d1d1;

/* Tipografía */
$montserrat: 'Montserrat', sans-serif;
$work-sans: 'Work Sans', sans-serif;