.encuesta-content {
    margin-top: 3rem;
}
.header-divider {
    background-color: #50868A;
    padding: .5rem;
    margin-bottom: 3rem;
}
.encuesta-header {
    h2 {
        color: #475372;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 400;
    }
}

.dashboard-powerbi {
    background-color: white;
    height: 239px;
    border: 1px dotted black;
}



.encuesta-title {
    margin-bottom: 4rem;
}
.title-head{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
    .title-divider {
        max-width: 80%;
        width: 100%;
        border: .5px solid #666666;
    }
}
.body-section {
    margin-bottom: 4rem;
}

@media (max-width: 450px) {
}
