.encuesta-content {
    margin-top: 3rem;
}
.header-divider {
    background-color: #50868A;
    padding: .5rem;
    margin-bottom: 3rem;
}
.encuesta-header {
    h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        text-align: center;
    }
}



.encuesta-title {
    margin-bottom: 4rem;
}
.title-head{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
    .title-divider {
        max-width: 80%;
        width: 100%;
        border: .5px solid #666666;
    }
}
.body-section {
    margin-bottom: 4rem;
}