include ../components/card-desk.pug
include ../components/card-indicador.pug
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Links y hojas de estilo
        include ../components/head.pug
        title ONL | Observatorio nacional de logística
    body
        // Header
        include ../components/header-intern.pug
        // Main content
        main
            .container
                include ../components/visor-indicador-title.pug
                include ../components/banner-dnp.pug
        // Scripts
        include ../components/scripts.pug
        include ../components/footer.pug