include ../components/card-desk.pug
include ../components/card-indicador.pug
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Links y hojas de estilo
        include ../components/head.pug
        title ONL | Observatorio nacional de logística
    body
        // Header
        include ../components/header-kitgov.pug
        // Main content
        div(class="main-border")
        main.intern
            .container
                .row.mb-4
                    .col-md-12.px-4
                        nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href='#') Inicio
                            li.breadcrumb-item
                                a(href='#') Documentos técnicos
                            li.breadcrumb-item.active(aria-current='page') Vías terciarias
            .container
                include ../components/visor-indicador-title.pug
        // Scripts
        include ../components/scripts.pug
        include ../components/footer.pug