section.encuesta-content
    .container
        .encuesta-box
            .encuesta-header
                h2 Encuestas nacionales año 2018
                .header-divider
            .encuesta-title
                .row
                    .col-md-6.text-center.text-md-left
                        h2 Presentación ENL - 2018
                    .col-md-6.text-center.text-md-right
                        a.btn.btn-outline-dark(href="#") Descargar informe
                .title-description.py-3
                    p Los indicadores de desempeño logístico muestran grandes diferencias entre los diferentes tamaños de empresas.
            .encuesta-body
                .body-section
                    .body-title
                        h2 DISTRIBUCIÓN DE LA POBLACIÓN
                    .body-text.py-4
                        ul
                            li Las 2.738 encuestas efectivas al expandirse representan 848.986 empresas del país.
                            li Se obtiene representatividad por estratos: actividad económica, región y tamaño de empresa.
                    .body-image
                        img(class="img-fluid" src="img/encuesta-img.png", alt="")
                .body-section
                    .body-title
                        h2 COSTO LOGÍSTICO
                    .body-text
                        p El promedio del costo logístico de las empresas del país, como porcentaje de las ventas, se ubica en 13,5% representado principalmente por los costos de almacenamiento
                    .body-image
                        img(class="img-fluid" src="img/encuesta-img3.png", alt="")
                .body-section
                    .body-title
                        h2 TIEMPO CARGUE Y DESCARGUE
                    .body-text
                        p Menos del 10% de las empresas a nivel nacional miden los tiempos de operación y espera de cargue y descargue.
                    .body-image
                        img(class="img-fluid" src="img/encuesta-img4.png", alt="")