include ../components/card-desk.pug
include ../components/card-indicador.pug
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Links y hojas de estilo
        include ../components/head.pug
        title ONL | Observatorio nacional de logística
    body
        // Header
        header
            include ../components/header-govco.pug
            include ../components/header-logos.pug
            include ../components/header-nav.pug
        // Main content
        main.index-page
            // card-indicador(img, alt, title, text, link, buttonText)
            +card-desk
                +card-indicador("img/img3.png", "Imagen de ejemplo", "Gini movilidad", "En el rango de 0 a 1, el promedio nacional del Gini movilidad es de 0.47. Menos de la mitad del país tienen una movilidad aceptable.", "#", "Ir al visor de datos")
                +card-indicador("img/img4.png", "Imagen de ejemplo", "Amenaza movimiento en masa", "De 17 mil km de vías primarias se encuentran en riesgo muy alto y alta 6.513 km, siendo un 38% del total.", "#", "Ir al mapa")
            +card-desk
                +card-indicador("img/img5.png", "Imagen de ejemplo", "Cobertura de energía", "Más de 1 millón de viviendas no tienen servicio de energía.", "#", "Ir al visor de datos")
                +card-indicador("img/img6.png", "Imagen de ejemplo", "Densidad red vial", "Cundinamarca tiene 900 metros de vías terciarias por kilómetro cuadrado de territorio, pero otros departamentos solo se tienen cerca de 100 metros.", "#", "Ir al mapa")
            include ../components/slider-capsulas.pug
            include ../components/banner-dnp.pug
        include ../components/scripts.pug
        include ../components/footer.pug