mixin banner-inserto(desktop, mobile, link, textoBoton)
    section.banner-inserto
        .container
            .row.my-4.rounded
                .col-lg-12.bg-gray-onl
                    picture
                        // Imagen responsive cuadrada
                        source(media='(max-width:991px)' srcset=mobile)
                        // Imagen rectangular para pantallas grandes
                        img(class="img-fluid" src=desktop  alt='Imagen,Banner')
                .col-lg-12.p-3.d-flex.align-items-center.justify-content-end
                    a.btn.btn-outline-card(href=link) #{textoBoton}