section.banner-inserto
    .container
        .row.m-2.p-3.rounded.bg-gray-onl
            .col-lg-6.border-right-onl.border-green-onl
                img(class="img-fluid" src="https://placehold.co/650x258", alt="", srcset="")
            .col-lg-6
                img(class="img-fluid" src="https://placehold.co/650x258", alt="", srcset="")