mixin breadcrumb()
    .bg-header-gray
        .container
            nav(class="breadcrumb-overflow" aria-label='breadcrumb')
                                ol.breadcrumb
                                    li.breadcrumb-item
                                        a(href='#') Inicio
                                    li.breadcrumb-item
                                        a(href='#') Documentos técnicos
                                    li.breadcrumb-item.active(aria-current='page') Vías terciarias