article.card-capsula
    .card-capsula-box
        .card-capsula-image
            img(src="https://placehold.co/300x200")
        .card-capsula-content
            a(href="#")
                h3.card-capsula-title
                | SEPT Transporte