mixin card-slider(img, buttonText, linkButton)
    article.card-capsula
        .card-capsula-box
            .card-capsula-image
                img(src=img)
            .card-capsula-content
                a(href=linkButton)
                    h3.card-capsula-title=buttonText