.card.p-3.bg-card-capsula
  img.card-img-top(src='https://placehold.co/442x248/000000/FFF' alt='Imagen, card')
  .card-body
    // h5.card-title Card title
    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    .button-box.text-center
        a.btn.btn-outline-primary(href='#') Go somewhere