section.navigation-indicador.mb-5
    .container
        nav.mt-2
            ul.nav-list-indicador
                li
                    a(href="#") Logistica
                li
                    a(href="#") Infraestructura intermodal
                li
                    a(href="#") Movilidad regional
                li
                    a(href="#") Transición energética