section.header-logos
    .container.logos-flex.py-3.py-sm-4
        img(class="logo-gobierno" src="./img/logo-gobierno.svg", alt="Logo, Colombia potencia mundial de la vida")
        img(class="logo-onl" src="img/onllogo1.svg", alt="Logo, ONL Observatorio nacional de logística")