section.header-logos
    .container.logos-flex.py-4
        img(class="logo-gobierno" src="./img/logo-gobierno.svg", alt="Logo, Colombia potencia mundial de la vida")
        img(src="https://placehold.co/150x53", alt="Logo, ONL Observatorio nacional de logística")