section.navigation.container
    h1 Observatorio nacional de logística
.container
    nav.navbar
            ul.nav-list
                li
                    a(href="#") Logistica
                li
                    a(href="#") Infraestructura intermodal
                li
                    a(href="#") Movilidad regional
                li
                    a(href="#") Transición energética