.container
    .slider-capsulas-box
        section.slider-capsulas
            include ../components/card-slider.pug
            include ../components/card-slider.pug
            include ../components/card-slider.pug
            include ../components/card-slider.pug
            include ../components/card-slider.pug
            include ../components/card-slider.pug
            include ../components/card-slider.pug