section.visor-box
    .container
        .row
            .col-md-12
                .title-box-visor-indicador
                    h1 Indicador de Conectividad Regional
                    iframe(class="visor22" src='https://dnpsig.dnp.gov.co/onlmaps/' scrolling='no' allowfullscreen frameborder='0' style='overflow:hidden; z-index:0; height:80vh; width:100%; border: none;')