.breadcrumb-overflow {
    width: 100%;
    height: 50px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    align-items: center;
}

.breadcrumb {
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
    background-color: transparent;
    margin-bottom: 0;
}

.breadcrumb-item {
    white-space: nowrap;
    a {
        color: #475372;
        font-weight: 400;
    }
}

.breadcrumb-item.active {
    color: #213770;
    text-decoration: underline;
}