.main-border {
    border: 1px solid #004884;
}

.capsulas-title {
    h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
}
.capsulas-body {
    h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}