.card-title {
    text-transform: uppercase;
    color: $blue-titles;
    font-size: 1.5rem;
}
.card-body {
    hr {
        border: 1.5px solid $green-lines;
        width: 60%;
        margin-left: 0;
    }
}
.card-text {
    line-height: 1.8;
}
.card-footer {
    background-color: transparent;
    border-top: 0;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    aspect-ratio: 16/9;
    object-fit: cover;
}