.header-box, .header-box-right {
    background-color: #FFFFFF;
    padding: 0rem;
}

.navbar-expand-lg .navbar-nav {
    width: 100%;
}
.nav-sidenav {
    width: 100%;
    justify-content: flex-end;
}
.navbar-kitgov {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar {
    padding-left: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #2A66B0;
    font-weight: 700;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #2A66B0;
    font-weight: 700;
    text-decoration: underline;
}

.navbar-expand-lg {
    padding: 0;
}

.navbar-nav .nav-link {
    margin: 0rem .5rem;
}
.nav-item {
    padding: .3rem;
    &:hover {
        background-color: #2A66B0;
        color: white;
    }
}
.nav-item:hover .nav-link:hover {
    color: white;
}


// @mixin button-ui-kit($colorText, $colorBg, $colorActive, $colorHover, $textHover, $borderColor)
.btn-button-ui-blue {
    @include button-ui-kit(#FFFFFF, #3366CC, #004884, #004884, #ffffff ,#004884)
}

@media (max-width:1000px) {
    .header-box, .header-box-right {
        background-color: #FFFFFF;
        padding: .5rem 0rem;
    }

    .navbar-kitgov {
        flex-direction: column;
    }
}