.header-logos {
    background-color: $white;
}
.logos-flex {
    display: flex;
    justify-content: space-between;
}
.logo-gobierno {
    width: 160px;
}
.logo-onl {
    width: 190px;
}
@media (max-width: 450px) {
    .logo-gobierno {
        width: 130px;
    }
    .logo-onl {
        width: 160px;
    }
}

