.title-encuesta {
    margin: 3rem 0rem;
    h1 {
        text-transform: uppercase;

    }
}
.encuesta-text {
    p {
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 1rem;
        font-weight: 400;
    }
}
.annio-encuesta {
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    select {
        min-width: 260px;
        width: 20%;
    }
    label {
        font-size: 2rem;
        font-weight: 300;
        color: #4E555F;
        margin-bottom: 1.5rem;
        text-align: center;
    }
}
.select-encuesta {
    background-color: #F9F9F9;
}