.slider-capsulas-box {
    background-color: #5A708C;
    padding: 2.5rem;
    margin-bottom: 3rem;
}
.slider-capsulas {
    height: 100%;
}
.card-capsula-box {
    padding: 1rem;
}
.card-capsula-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-capsula-content {
    text-transform: uppercase;
    text-align: center;
    a {
        color: white;
        &:hover {
            color: #b3bdff;
        }
    }
}
