.title-box-visor {
    display: inline-block;
    text-transform: uppercase;
    color: #475372;
    h2 {
        font-size: 1.5rem;
    }
    hr {
        border: 1.5px solid #004884;
        margin-left: 0;
        margin-bottom: 2rem;
    }
}