.title-box-visor {
    text-transform: uppercase;
    color: #475372;
    h2 {
        font-size: 1.5rem;
    }
    hr {
        border: 1.5px solid #727B36;
        width: 20%;
        margin-left: 0;
        margin-bottom: 3rem;
    }
}